<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="format-detection" content="telephone=no" />
     <meta property="og:image" content="../img/png/logo-header.png" />
     <meta name="description" content="Практическая конференция">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
          integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
     <link rel="stylesheet" @@style-path />
     <link rel="stylesheet" href="css/style.css" />
     <title>ui</title>
</head>

<body class="ui-page px-2 pt-1">

     <div class="d-flex flex-row align-items-start" id="app">
          <div class="ui-nav border-1 border p-2 d-none d-md-block mt-5 sticky-top">
               <nav class="">
                    <ol>
                         <li v-for="(value, key) in uiElem" :key="key">
                              <a :href="'#' + key" class="mt-2">{{value.slice(1)}}</a>
                         </li>
                    </ol>
               </nav>
          </div>
          <div class="ui-content ms-md-3 ms-0 w-100">
               <section v-for="(value, key) in uiElem" :key="key" :id="key">
                    <h1 class="h1 mt-5">{{value.slice(1)}}</h1>
                    <div class="" v-html="htmlData[value]"></div>
               </section>
          </div>
     </div>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script type="application/javascript">
          const vueApp = new Vue({
               el: '#app',
               components: {
               },
               data() {
                    return {
                         uiElem: [
                              '_header',
                              // '_buttons',
                              // '_links',
                              // '_bread-crumbs',
                              // '_inputs',
                              // '_heading',
                              // '_pagination',
                              // '_questions',
                              // '_cookie'
                         ],
                         htmlData: {}
                    }
               },
               watch: {},
               methods: {
                    async loadHtml(key) {
                         try {
                              const location = window.location
                              const response = location.host == "infocenterby.github.io" ? await fetch(`https://raw.githubusercontent.com/InfoCenterBy/newInfoCenter/gh-pages/html-comp/${key}.html`) : await fetch(`html-comp/${key}.html`);

                              if (!response.ok) {
                                   throw new Error('Failed to load HTML file');
                              }

                              const htmlContent = await response.text();
                              this.$set(this.htmlData, key, htmlContent);
                         } catch (error) {
                              console.error(error);
                         }
                    },
                    async loadHtmlFiles() {
                         await Promise.all(this.uiElem.map(key => this.loadHtml(key)));
                    }
               },
               computed: {},
               mounted() {
                    this.loadHtmlFiles();
                    document.querySelectorAll('.close-alert').forEach((element) => {
                         element.addEventListener('click', () => {
                              var alertNode = document.querySelector('#alertCookie');
                              alertNode.classList.remove('show')
                         });
                    });
               },
          })
     </script>
     <script src="js/script.min.js"></script>
</body>

</html>