<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div class="" id="app">
     <!-- Первый этап: выбор метода ввода -->
     <div class="d-flex justify-content-center">
          <h4 class="h4 d-block">Метод ввода данных</h4>
     </div>
     <div class="d-flex flex-row justify-content-center gap-3 mt-3">
          <button class="" :class="[inputMethod === 'manual'? 'btn-default' : 'btn-empty']" @click="inputMethod = 'manual'">Ручной ввод</button>
          <button class="" :class="[inputMethod === 'file'? 'btn-default' : 'btn-empty']" @click=" inputMethod = 'file'">Загрузка файла</button>
     </div>
     <div class="mt-4"></div>
     <!-- Ручной ввод -->
     <div v-if="inputMethod === 'manual'">
          <div class="col-lg-8">
               <form @submit.prevent="submitForm" class="needs-validation vue-form d-flex flex-column gap-3" novalidate>
                    <div class="d-flex flex-row">
                         <div class="form-floating w-100">
                              <input
                                   type="text"
                                   class="form-control pb-3 border-20"
                                   id="nameObject"
                                   placeholder=""
                                   v-model="formData.title"
                                   @input="updateCharCount('title', formData.title)"
                                   required
                                   :maxlength="charLimits.title.max"
                                   pattern='^(?:[А-ЯЁ][а-яё]+\s+[А-ЯЁ][а-яё]+(?:\s+[А-ЯЁ][а-яё]+)?|[А-ЯЁа-яё0-9\s\-"«».,]{3,200})$' />
                              <label for="nameObject">Наименование объекта</label>
                              <div class="invalid-feedback">Данные указаны неверно</div>
                         </div>
                         <div class="char-counter-wrapper">
                              <div class="char-counter">{{ updateCharCount('title', formData.title) }}</div>
                         </div>
                    </div>

                    <div class="d-flex flex-row">
                         <div class="form-floating w-100">
                              <input
                                   type="text"
                                   class="form-control pb-3 border-20"
                                   id="unp"
                                   placeholder=""
                                   v-model="formData.unp"
                                   @input="updateCharCount('title', formData.unp)"
                                   required
                                   :maxlength="charLimits.unp.max"
                                   pattern="^[А-Яа-яA-Za-z0-9]{9}$" />
                              <label for="unp">УНП</label>
                              <div class="invalid-feedback">Данные указаны неверно</div>
                         </div>
                         <div class="char-counter-wrapper">
                              <div class="char-counter">{{ updateCharCount('unp', formData.unp) }}</div>
                         </div>
                    </div>

                    <div class="d-flex flex-row">
                         <div class="form-floating w-100">
                              <input
                                   type="text"
                                   class="form-control pb-3 border-20"
                                   id="gniLocation"
                                   placeholder=""
                                   v-model="formData.gniLocation"
                                   @input="updateCharCount('title', formData.gniLocation)"
                                   required
                                   :maxlength="charLimits.gniLocation.max"
                                   pattern="^[0-9]{4}$" />
                              <label for="gniLocation">Код ИМНС</label>
                              <div class="invalid-feedback">Данные указаны неверно</div>
                         </div>
                         <div class="char-counter-wrapper">
                              <div class="char-counter">{{ updateCharCount('gniLocation', formData.gniLocation) }}</div>
                         </div>
                    </div>

                    <!-- <div class="form-group">
                         <label>Описание:</label>
                         <textarea
                              v-model="formData.description"
                              @input="updateCharCount('description', formData.description)"
                              rows="3"
                              :maxlength="charLimits.description.max"></textarea>
                         <div class="char-counter">{{ updateCharCount('description', formData.description) }}</div>
                    </div> -->
                    <button class="btn-default" @click="addPositionFlag = true" v-if="!addPositionFlag" type="button">Добавить позицию</button>

                    <div class="border-20 p-4 bg-gray-bg-illustr" v-if="addPositionFlag">
                         <div class="positions-form">
                              <div class="form-group">
                                   <label>Наименование позиции:</label>
                                   <input
                                        type="text"
                                        v-model="newPosition.name"
                                        @input="updateCharCount('positionName', newPosition.name)"
                                        required
                                        :maxlength="charLimits.positionName.max" />
                                   <div class="char-counter">{{ updateCharCount('positionName', newPosition.name) }}</div>
                              </div>

                              <div class="form-group">
                                   <label>Количество:</label>
                                   <input type="number" v-model="newPosition.quantity" required min="1" />
                              </div>

                              <div class="form-group">
                                   <label>Цена:</label>
                                   <input type="number" v-model="newPosition.price" required min="0" step="0.01" />
                              </div>

                              <button type="button" @click="addPosition">Добавить позицию</button>
                         </div>
                         <div class="mt-5"></div>
                    </div>

                    <div class="mt-5 border-20 p-4 bg-gray-bg-illustr" v-if="hasPositions > 0">
                         <div class="positions-list">
                              <h3>Добавленные позиции:</h3>
                              <div class="position-item" v-for="(position, index) in formData.positions" :key="index">
                                   <p><strong>{{ position.name }}</strong></p>
                                   <p>Количество: {{ position.quantity }}</p>
                                   <p>Цена: {{ position.price }}</p>
                                   <button type="button" @click="removePosition(index)">Удалить</button>
                              </div>
                         </div>
                    </div>

                    <button type="submit" class="btn-default" :class="[!hasPositions ? 'disabled' : '']" :disabled="!hasPositions">Отправить данные</button>
               </form>
          </div>
     </div>

     <!-- Загрузка файла -->
     <div v-if="inputMethod === 'file'">
          <div class="form-group">
               <label>Выберите файл для загрузки:</label>
               <input type="file" @change="handleFileUpload" accept=".json" />
          </div>

          <div v-if="fileData">
               <h3>Предпросмотр данных из файла:</h3>
               <pre>{{ fileData }}</pre>
               <button @click="submitFileData">Отправить данные</button>
          </div>
     </div>
</div>

<script>
     const { createApp, ref } = Vue;

     createApp({
          data() {
               return {
                    inputMethod: 'manual',
                    formData: {
                         title: '',
                         description: '',
                         positions: [],
                         unp: '',
                         messageNumber: '',
                         gniLocation: '',
                    },
                    newPosition: {
                         name: '',
                         quantity: 1,
                         price: 0,
                    },
                    fileData: null,
                    charLimits: {
                         title: {
                              max: 200, // Максимальное количество символов для title
                              current: 0,
                         },
                         unp: {
                              max: 9,
                              current: 0,
                         },
                         messageNumber: {
                              max: 100,
                              current: 0,
                         },
                         gniLocation: {
                              max: 4,
                              current: 0,
                         },
                         description: {
                              max: 500, // Максимальное количество символов для description
                              current: 0,
                         },
                         positionName: {
                              max: 50, // Максимальное количество символов для имени позиции
                              current: 0,
                         },
                    },
                    addPositionFlag: false,
               };
          },
          watch: {},
          computed: {
               hasPositions() {
                    return this.formData.positions.length > 0;
               },
          },
          methods: {
               addPosition() {
                    this.formData.positions.push({
                         name: this.newPosition.name,
                         quantity: parseInt(this.newPosition.quantity),
                         price: parseFloat(this.newPosition.price),
                    });

                    // Сброс формы позиции
                    this.newPosition = {
                         name: '',
                         quantity: 1,
                         price: 0,
                    };
                    // Сброс счетчика символов для имени позиции
                    this.charLimits.positionName.current = 0;
                    this.addPositionFlag = false;
               },
               removePosition(index) {
                    this.formData.positions.splice(index, 1);
               },
               submitForm() {
                    if (this.hasPositions) {
                    }
                    const form = document.querySelector('.needs-validation.vue-form');

                    if (!form.checkValidity()) {
                         event.preventDefault();
                         event.stopPropagation();
                    }
                    if (form.checkValidity()) {
                         const result = {
                              ...this.formData,
                              positions: [...this.formData.positions],
                         };

                         console.log('Итоговые данные:', result);
                         alert('Данные успешно сформированы (см. консоль)');
                    }

                    form.classList.add('was-validated');
               },
               handleFileUpload(event) {
                    const file = event.target.files[0];
                    if (!file) return;

                    const reader = new FileReader();
                    reader.onload = (e) => {
                         try {
                              this.fileData = JSON.parse(e.target.result);
                         } catch (error) {
                              console.error('Ошибка чтения файла:', error);
                              alert('Неверный формат файла');
                         }
                    };
                    reader.readAsText(file);
               },
               submitFileData() {
                    if (!this.fileData) {
                         alert('Нет данных для отправки');
                         return;
                    }

                    console.log('Данные из файла:', this.fileData);
                    alert('Данные из файла готовы к отправке (см. консоль)');
               },
               updateCharCount(field, value) {
                    // Обновляем текущее количество символов
                    this.charLimits[field].current = value.length;

                    // Возвращаем строку с информацией об оставшихся символах
                    const remaining = this.charLimits[field].max - value.length;
                    return `${remaining} / ${this.charLimits[field].max}`;
               },
          },
          mounted() {},
     }).mount('#app');
</script>
