@import './ui-comp/header';

.fs-12{
     font-size: .75rem !important;
}

.fs-14{
     font-size: .875rem !important;
}

.fs-16{
     font-size: 1rem !important;
}

.fs-18{
     font-size: 1.125rem !important;
}

.fs-20{
     font-size: 1.25rem !important;
}
