@import '../veriables/variables';

@layer base{
     button{
          border: 0;
          background: none;
     }
     button:disabled, button.disabled{
          cursor: not-allowed;
     }
}

@layer component{
     .language-block{
     }
     .language-button {
     }
     .blind-block {
     }
     .blind-button {
          gap: .75rem;
          .bi{
               max-height: 18px;
          }
     }
     .top-header-button{
          font-size: var(--base-font);
          font-weight: 400;
          line-height: 130%;
          letter-spacing: 0;
          font-family: $ff-roboto;
          color: var(--color-violet);
          @include transition($transition-3);
          @include hover('color', var(--color-violet-hover));
          &.active{
               text-decoration: underline var(--color-violet);
               text-underline-offset: .25rem;
          }
     }
}