@layer component {
     .modal {
          --bs-modal-zindex: 1055;
          --bs-modal-width: 500px;
          --bs-modal-padding: 1rem;
          --bs-modal-margin: 0.5rem;
          --bs-modal-color: ;
          --bs-modal-bg: var(--color-white);
          --bs-modal-border-color: var(--color-transparent);
          --bs-modal-border-width: 0;
          --bs-modal-border-radius: 1.25rem;
          --bs-modal-box-shadow: var(--bs-box-shadow-sm);
          --bs-modal-inner-border-radius: calc(
               var(--bs-border-radius-lg) - (var(--bs-border-width))
          );
          --bs-modal-header-padding-x: 1rem;
          --bs-modal-header-padding-y: 1rem;
          --bs-modal-header-padding: 1rem 1rem;
          --bs-modal-header-border-color: var(--color-transparent);
          --bs-modal-header-border-width: 0;
          --bs-modal-title-line-height: 1.5;
          --bs-modal-footer-gap: 0.5rem;
          --bs-modal-footer-bg: ;
          --bs-modal-footer-border-color: var(--color-transparent);
          --bs-modal-footer-border-width: 0;
          position: fixed;
          top: 0;
          left: 0;
          z-index: var(--bs-modal-zindex);
          display: none;
          width: 100%;
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          outline: 0;
     }
     .modal-large {
          --bs-modal-width: 700px;
     }
     .modal-small {
          --bs-modal-width: 400px;
     }
     // .modal-content {
     //      position: relative;
     //      display: flex;
     //      flex-direction: column;
     //      width: 100%;
     //      color: var(--bs-modal-color);
     //      pointer-events: auto;
     //      background-color: var(--bs-modal-bg);
     //      background-clip: padding-box;
     //      border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
     //      border-radius: var(--bs-modal-border-radius);
     //      outline: 0;
     // }
     .modal-header {
          padding-bottom: 0;
          align-items: flex-start;
     }
     .modal-footer {
          padding-bottom: 1.5rem;
     }
     // @media #{$ui-mobile} {
     //      .modal-content{
     //           margin-top: 5.625rem;
     //      }
     // }
     .success-record {
          @media #{$ui-mobile} {
               .modal-content {
                    margin-top: 5.625rem;
               }
          }
     }
}

.scrollable-modal-body {
     height: 444px;
     overflow-y: auto;
}

.modal:not(.header-modal) .modal-content {
     margin-top: 2.5rem;

     @media #{$ui-bs-lg} {
          margin-top: 8.75rem;
     }
}

@import url('./datepicker.css') layer(vendor);

@layer component{
     .modal.choice-form{
          .modal-dialog{
               max-width: 43.75rem;
               width: 100%;
          }
     }
     .choice-form{
          &__wrapper{
               max-height: 29rem;
               overflow-y: auto;
               height: 100%;
          }
     }
     .choice-form{
          :root {
               /*General*/
               --dp-font-family: $ff-roboto;
               --dp-border-radius: 150px; /*Configurable border-radius*/
               --dp-cell-border-radius: 4px; /*Specific border radius for the calendar cell*/
               --dp-common-transition: all 0.1s ease-in; /*Generic transition applied on buttons and calendar cells*/
               
               /*Sizing*/
               --dp-button-height: 35px; /*Size for buttons in overlays*/
               --dp-month-year-row-height: 35px; /*Height of the month-year select row*/
               --dp-month-year-row-button-size: 35px; /*Specific height for the next/previous buttons*/
               --dp-button-icon-height: 20px; /*Icon sizing in buttons*/
               --dp-cell-size: 35px; /*Width and height of calendar cell*/
               --dp-cell-padding: 5px; /*Padding in the cell*/
               --dp-common-padding: 10px; /*Common padding used*/
               --dp-input-icon-padding: 35px; /*Padding on the left side of the input if icon is present*/
               --dp-input-padding: 6px 30px 6px 12px; /*Padding in the input*/
               --dp-menu-min-width: 260px; /*Adjust the min width of the menu*/
               --dp-action-buttons-padding: 2px 5px; /*Adjust padding for the action buttons in action row*/
               --dp-row-margin:  5px 0; /*Adjust the spacing between rows in the calendar*/
               --dp-calendar-header-cell-padding:  0.5rem; /*Adjust padding in calendar header cells*/
               --dp-two-calendars-spacing:  10px; /*Space between multiple calendars*/
               --dp-overlay-col-padding:  3px; /*Padding in the overlay column*/
               --dp-time-inc-dec-button-size:  32px; /*Sizing for arrow buttons in the time picker*/
               --dp-menu-padding: 6px 8px; /*Menu padding*/
               
               /*Font sizes*/
               --dp-font-size: 1rem; /*Default font-size*/
               --dp-preview-font-size: 0.8rem; /*Font size of the date preview in the action row*/
               --dp-time-font-size: 0.8rem; /*Font size in the time picker*/
               
               /*Transitions*/
               --dp-animation-duration: 0.1s; /*Transition duration*/
               --dp-menu-appear-transition-timing: cubic-bezier(.4, 0, 1, 1); /*Timing on menu appear animation*/
               --dp-transition-timing: ease-out; /*Timing on slide animations*/
          }
          .dp__input{
               background-color: var(--color-transparent);
               border-color: var(--color-transparent);
          }
          .dp__action_select{
               background-color: var(--color-violet);
          }
          .dp__input_wrap{
               width: 104%;
               left: -10px;
          }
          .dp__icon{
               stroke: var(--color-black);
               fill: var(--color-black);
          }
          .dp__input_icon{
               color: var(--color-black);
          }
     }
}