$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1440;
// $maxWidthContainerPersonal: 1830;
// *Colors*
$colorsMap: (  
     'black': '#030303',
     'white':'#FBFBFB',
     'gray-txt': '#66605B',
     'gray-inputs': '#B9B9B9', 
     'gray-stroke': '#DADADA',
     'gray-bg-illustr': '#F0F0F0',
     'violet':'#5E60CE',
     'yellow':'#F6C679',
     'yellow-light': '#F6D39B',
     'violet-light': '#D6D6FF',
     'green': '#92EDC1',
     'green-light': '#DFF5F0',
     'dark-violet': '#2A2B87', 
     'violet-hover': '#8C8EEA',
     'red-error': '#E31B1B',
     'transparent': 'transparent'
     );
     
:root{
     @each $name, $color in $colorsMap {
          --color-#{$name}: #{$color}
     }
     --base-font: 16px;
}
// *------*

//? *Sizing*
.px-12{
     padding-left: 12px;
     padding-right: 12px;
}

.mt-12{
     margin-top: 12px;
}

.mt-10{
     margin-top: .625rem;
}

.gap-12{
     gap: .75rem;
}

.gap-20{
     gap: 1.25rem;
}
//?


// *! Fonts*
$ff-exo: 'Exo 2';
.ff-exo{
     font-family: $ff-exo;
}
$ff-roboto: 'Roboto';
.ff-roboto{
     font-family: $ff-roboto;
}
$fontSize: 16px;
$fontSizeMap: (10, 12, 14, 16, 18, 20, 22, 24);
.ls-0{
     letter-spacing: 0;
}
// *!------*

// *? Border*
$borderMap: ('10','15','20','25','30','100');
// *?------*

// *! Transition *
$transitionMap: ( '2': '.2', '3': '.3');
$transition-2: all ease-out .2s;
$transition-3: all ease-out .3s;
// *!------*

//* Break-points*
$breakPointsMap: ('xs':576,'sm':576,'md':768,'lg':992,'xl':1200,'xxl':1400);
// *------*

// *? Media rules*
$mouse-device: '(hover: hover) and (pointer: fine)';
$ui-mobile: 'screen and (max-width: 650px)';
$ui-tablet: 'screen and (max-width: 910px)';

// *! z-indexs* 
$layer-back: -1;
$layer-base: 2;
$layer-ui: 3; //header, footer, menu
$layer-modal: 4;
// *!------*

// ? bootstrap icon class
.bootsrtap-icon{
     display: inline-block;
     font-family: bootstrap-icons !important;
     font-style: normal;
     font-weight: normal !important;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     vertical-align: -.125em;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.hover-no{
     pointer-events: none;
}

.cursor-pointer{
     cursor: pointer
}

@media (min-width: 992px) {
     .w-lg-auto{
          width: auto;
     }
}
