@layer component{
     .char-counter-wrapper{
          position: relative;
          .char-counter{
               font-family: $ff-roboto;
               width: 2.875rem;
               font-size: .625rem;
               color: var(--color-gray-txt);
               white-space: nowrap;
               position: absolute;
               bottom: 0;
               text-align: end;
               z-index: $layer-base;
               right: 1.25rem;
          }
     }
     .ecp-history{
          .btn-list{
               text-align: start;
               border-radius: .25rem;
               &,*{
                    @include transition($transition-3);
               }
               @media #{$mouse-device} {
                    &:hover{
                         background-color: var(--color-violet-hover);
                         opacity: 80;
                         &, *{color: var(--color-white);}
                    }
               }
               @media #{$touch-device} {
                    &:active{
                         background-color: var(--color-violet-hover);
                         opacity: 80;
                         &, *{color: var(--color-white);}
                    }
               }
               &.active{
                    background-color: var(--color-violet);
                    &, *{color: var(--color-white);}
               }
          }
     }
}