@layer component{
     .slider-banner-sm{
          .swiper-button-next-custom, .swiper-button-next-custom{
          }
          .swiper{
               border-radius: 1.25rem;
          }
          .swiper-slide{
               height: 9.375rem;
               display: flex;
               justify-content: center;
               img{
                    object-fit: contain;
                    width: 100%;
               }
          }
     }
     
}

@layer variations{
     .slider-banner-sm.landing-conference{
          .swiper-slide{
               height: 15.625rem;
          }
          .swiper-button-prev-custom, .swiper-button-next-custom{
               border: 1.5px solid var(--color-mns-green);
               color: var(--color-mns-green);
               background-color: var(--color-white);
               @media #{$mouse-device} {
                    &:not([disabled]):hover{
                         background-color: var(--color-mns-green-hover);
                         color: var(--color-white);
                         border-color: var(--color-mns-green-hover);
                    }
               }
               @media #{$touch-device} {
                    &:active{
                         background-color: var(--color-mns-green-hover);
                         color: var(--color-white);
                         border-color: var(--color-mns-green-hover);
                    }
               }
          
          }
     }
}